<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.wipro.utilities.ExtentNG"></listener>
	</listeners>
  <test thread-count="5" name="NopCommerceTest">
    <classes>
      <class name="com.wipro.Testcases.Testcase1"/>
      <class name="com.wipro.Testcases.Testcase2"/>
      <class name="com.wipro.Testcases.Testcase3"/>
      <class name="com.wipro.Testcases.Testcase4"/>
    </classes>
  </test> 
</suite> 
